.calender-container {
    font-family: "GSR";
    font-weight: 600;
    width: 360px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.3);
    position: relative;
}

.calender-container header {
    display: flex;
    align-items: center;
    padding: 25px 30px 0px;
    justify-content: space-between;
}

.calender-container header .current-date {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px;
    margin-left: -10px;
    cursor: pointer;
}

.calender-container header .current-date:hover {
    background-color: #f2f2f2;
}

.calender-container header .chevron-icons {
    display: flex;
}

.calender-container header .chevron-icons span {
    display: flex;
    height: 38px;
    width: 38px;
    color: #878787;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.calender-container header .chevron-icons span:hover {
    background-color: #f2f2f2;
}

.calender-container header .chevron-icons span:last-child {
    margin-right: -10px;
}

.calender {
    padding: 20px;
}

.calender ul {
    font-family: "GSR";
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
}

.calender .days {
    margin-bottom: 10px;
}

.calender .weeks li {
    font-weight: 500;
}

.calender ul li {
    width: calc(100% / 7);
    position: relative;
}

.calender .days li {
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 500;
}

.calender .days li.inactive {
    color: #aaa;
}

.calender .days li.active {
    color: #fff;
}

.calender .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.calender .days li::after {
    position: absolute;
    content: "";
    height: 40px;
    width: 52px;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.calender .days li:hover::before {
    background-color: #f2f2f2;
}

.calender .days li.active::before {
    background-color: #282b4f;
    color: #fff;
}

.calender .days li.init.fin.red::before {
    background-color: #d56262;
}

.calender .days li.init.fin.yellow::before {
    background-color: #e9bd5f;
}

.calender .days li.init.fin.green::before {
    background-color: #93eb73;
}

.calender .days li.init.fin.blue::before {
    background-color: #7587c7;
}

.calender .days li.init.fin.purple::before {
    background-color: #b079d1;
}
/*
    시작 날짜 색 지정
*/
.calender .days li.init.red::before {
    background-color: #d56262;
}

.calender .days li.init.yellow::before {
    background-color: #e9bd5f;
}

.calender .days li.init.green::before {
    background-color: #93eb73;
}

.calender .days li.init.blue::before {
    background-color: #7587c7;
}

.calender .days li.init.purple::before {
    background-color: #b079d1;
}
/*
    종료 날짜 색 지정
*/
.calender .days li.fin.red::before {
    background-color: #d56262;
}

.calender .days li.fin.yellow::before {
    background-color: #e9bd5f;
}

.calender .days li.fin.green::before {
    background-color: #93eb73;
}

.calender .days li.fin.blue::before {
    background-color: #7587c7;
}

.calender .days li.fin.purple::before {
    background-color: #b079d1;
}
/*
    범위 날짜 색 지정
*/
.calender .days li.between.red::after {
    background-color: #d56262;
}

.calender .days li.between.yellow::after {
    background-color: #e9bd5f;
}

.calender .days li.between.green::after {
    background-color: #93eb73;
}

.calender .days li.between.blue::after {
    background-color: #7587c7;
}

.calender .days li.between.purple::after {
    background-color: #b079d1;
}
/*
    범위 지정 시, 모양 지정
*/
.calender .days li.init.ranged::before {
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 3px;
    width: 46px;
}

.calender .days li.fin.ranged::before {
    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -3px;
    width: 46px;
}

.calender-container .month-change {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border-radius: 30px;
}

.month-change p {
    font-size: 1.25rem;
    margin-left: 30px;
}

.calender-container .month-list {
    position: absolute;
    width: 100%;
    height: 90%;
    color: #000;
    display: grid;
    grid-template-columns: repeat(3, auto);
    bottom: 0;
    transition: transform 0.3s;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
}

.active-month {
    background-color: #282b4f;
    color: #fff
}

.inactive-month:hover {
    background-color: #f2f2f2;
}