VITE_SERVER_URL=http://localhost:3100
VITE_SOCKET_URL=http://localhost:3100
VITE_BASE_URL=http://localhost:3100/api
VITE_SITE_KEY=
VITE_FORECAST_KEY=
VITE_HEALTHY_PREDICTION_URL=ws://localhost:8001/healthy
VITE_LEAVES_PREDICTION_URL=ws://localhost:8001/diseases
