.logo {
    border: 1px solid black;
    font-size: 30px;
}

.logo .text {
    position: relative;
    padding-left: 20px;
}

.logo .icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

}



