@font-face {
    font-family: "GMM";
    src: url("./fonts/GmarketSansTTFMedium.ttf") format("truetype");
}
  
@font-face {
    font-family: "GML";
    src: url("./fonts/GmarketSansTTFLight.ttf") format("truetype");
}

.weather-icon {
    height: 50px;
    padding: 10px;
}

.today-weather {
    font-family: "GMM";
    font-size: 25px;
    color: white;
}

.today-info {
    display: flex;
    align-items: center;
    position: relative;
    font-family: "GML";
    color: white;
    width: 360px;
    height: 80px;
    border-radius: 20px;
    background-color: #555e90;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.3);
}

.tomorrow-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: "GML";
    color: white;
    width: 360px;
    height: 80px;
    border-radius: 20px;
    background-color: #28343f;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.3);
}

.weather-info {
    width: 100px;
}

.temp-info {
    position: absolute;
    right: 24px;
    color: white;
    font-family: "GMM";
    font-size: 20px;
}

.temp-info2 {
    position: absolute;
    right: 24px;
    color: #ce5151;
    font-family: "GMM";
    font-size: 20px;
}